{% extends "base.html" %}


{% block data1 %}




<div class="container">
    <div class="row">
      {%for article in articles%}
          <div class="col-xs-6 col-lg-4">
              <h2>{{article.title}}</h2>
              {% if article.image %}
                  <img  src='{{ article.image.url }}' class="img-rounded" >
              {% endif %}

              <p>{{article.body}}</p>
              <p><a class="btn btn-default" href = "{% url 'article' article.pk %}" role="button">View details »</a></p>                               

          </div>
      {% endfor %}
    </div>
</div>
<hr>

<footer>
  <p>© 2016 Company, Inc.</p>
</footer>

{% endblock data1 %}

